@use 'sass:color';

// Alabaster Dark
$background: #0e1415;
$surface: #1d2324;
$foreground: #cecece;
$accent: #cd974b;
$success: #95cb82;
$definition: #71ade7;
$error: #cc3333;

* {
    all: unset;
    
    padding: 0;
    border: 0;
    background: none;
    
    font-size: 14pt;
    font-family: Atkinson Hyperlegible Next;
}

// System tray menus get "popup" by default.
tooltip, .popup {
    background: $background;
    color: $foreground;
}

.bar {
    padding: 4px 0;
    background: color.change($background, $alpha: 0.75);
    color: $foreground;
}

.workspaces {
    padding: 4px 0;
    
    .ws {
        padding: 4px 0;
        
        & > * {
            font-size: 14pt;
        }

        &.focused {
            color: $accent;
        }
    }
}

.bar-bottom {    
    & > * {
        padding: 8px 0;
        
        &:nth-last-child(even) {
            background: $surface;
        }
    }
}

.icon {
    padding: 2px;
    font-family: Symbols Nerd Font;
}

.error {
    color: $error;
}

.success {
    color: $success;
}

.tray {
    padding: 0;
    
    * {
        padding: 4px 0;
    }
}

.time > :nth-child(even) {
    color: $definition;
}
