@use 'sass:color';

$base:    #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted:   #6e6a86;
$subtle:  #908caa;
$text:    #e0def4;
$love:    #eb6f92;
$gold:    #f6c177;
$rose:    #ebbcba;
$pine:    #31748f;
$foam:    #9ccfd8;
$iris:    #c4a7e7;

* {
    all: unset;
    
    padding: 0;
    border: 0;
    background: none;
    
    font-size: 14pt;
    font-family: Atkinson Hyperlegible Next;
}

// System tray menus get "popup" by default.
tooltip, .popup {
    background: $base;
}

.bar {
    padding: 4px 0;
    background: color.change($base, $alpha: 0.75);
    color: $text;
}

.workspaces {
    padding: 4px 0;
    
    .ws {
        padding: 4px 0;
        
        & > * {
            font-size: 14pt;
        }

        &.focused {
            color: $foam;
        }
    }
}

.bar-bottom {    
    & > * {
        padding: 8px 0;
        
        &:nth-last-child(even) {
            background: $overlay;
        }
    }
}

.icon {
    padding: 2px;
    font-family: Symbols Nerd Font;
}

.love {
    color: $love;
}

.pine {
    color: $pine;
}

.tray {
    padding: 0;
    
    * {
        padding: 4px 0;
    }
}

.time > :nth-child(even) {
    color: $foam;
}
